@charset "UTF-8";
nav.main-menu {
  margin: 0;
}
nav.main-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  font-family: "Gotham Pro Bold";
}
nav.main-menu ul li {
  position: relative;
  background: #e9eeff;
  border-radius: 2rem;
}
nav.main-menu ul li > a {
  display: block;
  padding: 0.3rem 1.2rem;
}
nav.main-menu ul li > a:hover {
  color: white;
}
nav.main-menu ul li:hover {
  background-color: #001d51;
  color: #FFF;
}
nav.main-menu ul li:hover ul {
  display: block;
}
nav.main-menu ul li ul {
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
nav.main-menu ul li ul li {
  all: unset;
  display: block;
  width: 100%;
}
nav.main-menu ul li ul li:hover {
  background-color: none !important;
}
nav.main-menu ul li ul li a {
  all: unset;
  cursor: pointer;
  display: block;
  color: #001d51;
  white-space: nowrap;
}
nav.main-menu ul li ul li a:hover {
  background-color: white !important;
  text-decoration: underline;
  color: #000;
}
nav.main-menu ul li ul li:last-child {
  all: unset;
}
nav.main-menu ul li:last-child{
  --tw-bg-opacity: 1;
  background-color: rgb(0 29 81 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
nav.main-menu ul li:last-child a {
  border-radius: 2rem;
}
nav.main-menu ul li:last-child a:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(245 220 1 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 29 81 / var(--tw-text-opacity));
}
nav.secondary-menu {
  margin: 0;
}
nav.secondary-menu ul {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 0 0 0.3rem 0;
  font-weight: 600;
}
nav.secondary-menu ul li a {
  display: block;
  padding: 0.3rem 1rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  --tw-border-opacity: 1;
  border-color: rgb(0 29 81 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 29 81 / var(--tw-text-opacity));
}
nav.secondary-menu ul li a:hover{
  --tw-text-opacity: 1;
  color: rgb(0 29 81 / var(--tw-text-opacity));
  text-decoration-line: underline;
}
nav.nav-footer ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
@media (min-width: 782px){
  nav.nav-footer ul{
    flex-direction: row;
    align-items: flex-end;
  }
}
nav.nav-footer ul li a{
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
nav.nav-footer ul li a:hover{
  text-decoration-line: underline;
}
footer .sociales{
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 782px){
  footer .sociales{
    justify-content: flex-end;
  }
}
footer .sociales a{
  display: block;
}
footer .sociales a svg{
  max-height: 2rem;
  width: auto;
  fill: #001d51;
}
footer .sociales a:hover{
  opacity: 0.5;
}
.accordion{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.accordion h3.title-accordion {
  font-family: "Gotham Pro Bold";
  cursor: pointer;
  position: relative;
  border-bottom-width: 2px;
  padding: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(0 29 81 / var(--tw-text-opacity));
}
.accordion h3.title-accordion:before{
  font-size: 1.875rem;
  line-height: 2.25rem;
  content: "›";
  color: #001d51;
  position: absolute;
  top: calc(50% - 1rem);
  right: 1rem;
  transform: rotate(90deg);
}
.accordion h3.title-accordion:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.accordion h3.title-accordion.ui-state-active{
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.accordion h3.title-accordion.ui-state-active:before {
  transform: rotate(270deg);
}
.accordion .content-accordion{
  padding: 1rem;
}
.accordion .content-accordion h2, .accordion .content-accordion h3, .accordion .content-accordion h4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.accordion .content-accordion p{
  margin-bottom: 1rem;
}
.accordion .content-accordion p:empty{
  display: none;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
#dialogo{
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 0px;
}
#dialogo h3 {
  font-family: "Gotham Pro Bold";
  --tw-bg-opacity: 1;
  background-color: rgb(0 29 81 / var(--tw-bg-opacity));
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
#dialogo .box{
  padding: 1rem;
  text-align: center;
}
#dialogo .box h4 {
  font-family: "Gotham Pro Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(0 29 81 / var(--tw-text-opacity));
}
#dialogo .box p{
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.25;
}
#dialogo .box a{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
#dialogo .box a img, #dialogo .box a svg{
  height: 1.5rem;
  width: auto;
  filter: invert(100%) sepia(72%) saturate(2%) hue-rotate(32deg) brightness(108%) contrast(101%);
}
#dialogo .box a:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(20 83 45 / var(--tw-bg-opacity));
}
#dialogo button#cerrar{
  display: table;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
#dialogo button#cerrar:hover {
  opacity: 0.5;
}
.slider-services .slick-track {
  display: flex !important;
}
.slider-services .slick-slide {
  height: inherit !important;
}
.slider-services .card a{
  height: 100%;
}
nav.menu-mobile{
  position: absolute;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
}
nav.menu-mobile ul{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style: none;
}
nav.menu-mobile ul li{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
nav.menu-mobile ul li a {
  display: block;
}
ul.list-servicio{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}
@media (min-width: 782px){
  ul.list-servicio{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
ul.list-servicio li{
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-bottom: 1px solid #f5dc01;
}
ul.list-servicio li .ico {
  border: 1px solid #3b4e7b;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 2.25rem;
  place-content: center;
  padding: 0.25rem;
}
ul.list-servicio li .ico:not(:empty){
  display: grid;
}
ul.list-servicio li .ico:empty{
  display: none;
}
ul.list-servicio li .ico svg{
  height: auto;
  width: 0.75rem;
}
ul.list-servicio li .ico svg path {
  fill: #3b4e7b;
}
.gallery-slider{
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  border-radius: 0.375rem;
}
@media (min-width: 782px){
  .gallery-slider{
    margin-left: 0px;
    margin-right: 0px;
  }
}
.gallery-slider {
  max-width: calc(100vw - 2rem);
}
.bg-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
section.hero-simple {
  position: relative;
  background: rgba(0, 29, 81, 0.25);
}
section.hero-simple .container {
  position: relative;
  z-index: 10;
}
section.hero-simple .bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}
section.hero-simple .bg:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  z-index: 1;
}
section.hero-simple .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
section.contact-form form p{
  margin-bottom: 1rem;
}
section.contact-form form input, section.contact-form form textarea {
  border: 1px solid #3b4e7b;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
section.contact-form form textarea{
  height: 10rem;
  resize: none;
}
section.contact-form form input.wpcf7-submit{
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(0 29 81 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
section.contact-form form input.wpcf7-submit:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(59 78 123 / var(--tw-bg-opacity));
}
.video-frame{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.video-frame iframe{
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
  border-radius: 0.375rem;
}
.video-frame:empty {
  display: none;
}
.gallery-small {
  position: relative;
  display: block;
  width: inherit;
}
.gallery-small .slick-list {
  overflow: hidden !important;
}
.gallery-small .item {
  width: inherit;
  height: auto;
  max-width: inherit;
}
.gallery-small .item img {
  width: inherit;
  max-width: inherit;
  height: auto;
  border-radius: 0.375rem;
}
.gallery-small ul.slick-dots {
  margin: 0.5rem 0 0 0;
}
footer {
  border-top: 4px solid #f5dc01;
}
.shadow-yellow {
  position: relative;
}
.shadow-yellow img {
  position: relative;
  z-index: 1;
}
footer{
  --tw-bg-opacity: 1;
  background-color: rgb(0 29 81 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
footer .footer-bottom{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
footer .footer-bottom p, footer .footer-bottom a{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.custom-arrows{
  margin-top: 1rem;
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 1rem;
}
.custom-arrows .arrow{
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
.custom-arrows .arrow:hover{
  opacity: 0.5;
}
.custom-arrows .arrow-prev {
  width: 24px;
  height: 24px;
}
.custom-arrows .arrow-prev:hover{
  cursor: pointer;
  opacity: 0.6;
}
.custom-arrows .slider-dots ul.slick-dots{
  margin: 0px;
  padding: 0px;
}
.custom-arrows .slider-dots ul.slick-dots li{
  cursor: pointer;
}
.custom-arrows .slider-dots ul.slick-dots li:hover{
  opacity: 0.6;
}
.custom-arrows .slider-dots ul.slick-dots li:only-child {
  display: none;
}
.intro-section iframe {
  width: 100%;
  max-height: 400px;
}
header.stickied button p{
  font-size: 1rem;
  line-height: 1.5rem;
}
header.stickied img.logo{
  max-height: 2rem;
}
@media (min-width: 782px){
  header.stickied img.logo{
    max-height: 4rem;
  }
}
ul.list-features li{
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-bottom: 1px solid #f5dc01;
}
ul.list-features li .ico {
  border: 1px solid #3b4e7b;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 2.25rem;
  place-content: center;
  padding: 0.25rem;
}
ul.list-features li .ico:not(:empty){
  display: grid;
}
ul.list-features li .ico:empty{
  display: none;
}
ul.list-features li .ico svg{
  height: auto;
  width: 0.75rem;
}
ul.list-features li .ico svg path {
  fill: #3b4e7b;
}
ul#menu-menu-principal li.menu-item-has-children > a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}
ul#menu-menu-principal li.menu-item-has-children > a:after {
  content: "▾";
  font-size: 0.875rem;
  line-height: 1.25rem;
}
a.card-service{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  text-align: center;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
a.card-service:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
a.card-service h2{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}
a.card-service:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(245 220 1 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 29 81 / var(--tw-text-opacity));
}
.slider-services .card:nth-child(1) {
  background-color: rgba(59, 78, 123, 0.05);
}
.slider-services .card:nth-child(2) {
  background-color: rgba(59, 78, 123, 0.1);
}
.slider-services .card:nth-child(3) {
  background-color: rgba(59, 78, 123, 0.15);
}
.slider-services .card:nth-child(4) {
  background-color: rgba(59, 78, 123, 0.2);
}
.slider-services .card:nth-child(5) {
  background-color: rgba(59, 78, 123, 0.25);
}
.slider-services .card:nth-child(6) {
  background-color: rgba(59, 78, 123, 0.3);
}
.slider-services .card:nth-child(7) {
  background-color: rgba(59, 78, 123, 0.35);
}
.intro-section p {
  max-width: 90ch;
  margin: 0 auto 1rem;
  text-wrap: balance;
}
.header-bar{
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 782px){
  .header-bar{
    flex-direction: row;
  }
}
.header-bar p{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (min-width: 782px){
  .header-bar p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.header-bar p {
  color: #FFF !important;
  text-align: center;
}
.header-bar p a{
  text-decoration-line: underline;
}
.header-bar p a:hover{
  text-decoration-line: none;
}
.hero-home p {
  margin: 0 0 1rem 0;
}
.js-gallery-model{
  position: relative;
}
.js-gallery-model .slick-list {
  overflow: hidden !important;
}
.js-gallery-model button.slick-arrow{
  position: absolute;
  z-index: 10;
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 29 81 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  top: 50%;
  transform: translate(0, -50%);
}
.js-gallery-model button.slick-arrow:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(245 220 1 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 29 81 / var(--tw-text-opacity));
}
.js-gallery-model button.slick-arrow.slick-prev {
  left: 0;
  font-size: 0;
}
.js-gallery-model button.slick-arrow.slick-prev::before {
  content: "<";
  font-size: 1rem;
  font-weight: 800;
}
.js-gallery-model button.slick-arrow.slick-next {
  right: 0;
  font-size: 0;
}
.js-gallery-model button.slick-arrow.slick-next::before {
  content: ">";
  font-size: 1rem;
  font-weight: 800;
}
.js-gallery-model ul.slick-dots {
  margin: 0;
}
.js-gallery-model ul.slick-dots li:only-child {
  display: none;
}
.js-gallery-model-thumbnails .slick-slide{
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.js-gallery-model-thumbnails .slick-slide:hover {
  opacity: 0.8;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.js-gallery-model-thumbnails .slick-list {
  overflow: hidden !important;
}
