article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.container{
    @apply md:px-4 max-w-wide
}

.title{
    @apply m-0 p-0 mb-2 text-3xl font-bold text-primary gotham-bold
}

.icon img, .icon svg{
    @apply max-h-10 w-auto
}

img.rounded{
    @apply rounded-lg
}


.slick-slide {
    margin: 0 0.5rem;
}

.slick-list {
    margin: 0 -0.5rem;
    overflow: visible !important;
}

ul.slick-dots{
    @apply flex justify-center items-center gap-2 mt-10
}

ul.slick-dots li{
    @apply bg-gray-300 rounded-full w-4 h-4
}

ul.slick-dots li button{
    @apply invisible
}

ul.slick-dots li.slick-active{
    @apply bg-primary
}

.button-fa-primary{
    @apply bg-primary text-white text-center rounded-full p-2 hover:bg-yellow w-full mt-4 block hover:text-primary font-semibold
}

.card-service{
    @apply flex flex-col py-8 px-4 justify-center items-center gap-4 bg-white hover:bg-slate-200 transition-all shadow-xl
}

.box-content{
    @apply border-gray-200 rounded-md border p-6 text-center shadow-lg hover:shadow-xl transition-all
}

.box-content .icon{
    @apply mx-auto block w-max mb-6
}

p, ul, li{
    @apply text-lg text-[#444]
}

nav.main-menu{
    
}