$primary : #001d51;
$secondary : #3b4e7b;
$light: #e9eeff;
$yellow: #f5dc01;

nav.main-menu{  
  margin: 0;
  ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    font-family: 'Gotham Pro Bold';
    li{
      position: relative;
      background: $light;      
      border-radius: 2rem;      
      &>a{        
        display: block;  
        padding: .3rem 1.2rem;                    
        &:hover{          
          color: white;
        }
      }
      &:hover{        
        background-color: $primary;
        color: #FFF;
        ul{
          display: block;          
        }
      }      
      ul{
        background-color: #FFF;
        padding: 1rem;
        border-radius: .5rem;        
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;      
        @apply shadow-md;
        li{
          all:unset;
          display: block;
          width: 100%;
          &:hover{
            background-color: none !important;
          }
          a{            
            all: unset;
            cursor: pointer;
            display: block;
            color: $primary;
            white-space: nowrap;
            
            &:hover{
              background-color: white !important;
              text-decoration: underline;
              color: #000;
            }
          }  
          &:last-child{
            all:unset;
          }        
        }
      }  
      &:last-child{
        @apply bg-primary text-white;        
        a{
          border-radius: 2rem;    
          &:hover{            
            @apply bg-yellow text-primary;
          }
        }
      }    
    }
  }
}

nav.secondary-menu{
  margin: 0;
  ul{
    display: flex;
    justify-content: flex-end;
    gap: .25rem;
    padding: 0 0 .3rem 0;
    @apply font-semibold;
    li{
      a{
        display: block;
        padding: .3rem 1rem;
        font-size: 0.85rem;        
        text-transform: uppercase;                      
        @apply text-primary border-primary;

        &:hover{
          @apply text-primary underline;
      
        }
      }
    }
  }
}

nav.nav-footer{  
  ul{
    @apply flex flex-col md:flex-row justify-start items-center md:items-end gap-4 flex-wrap;
    li{
      a{
        @apply block text-sm;
        &:hover{
          @apply underline;
        }
      }
    }
  }
}

footer .sociales{
  @apply flex justify-center md:justify-end items-center gap-4 flex-1; 
  a{
    @apply block;
    svg{
      @apply max-h-8 w-auto fill-primary
    }
    &:hover{
      @apply opacity-50;
    }
  }
}


.accordion{
  @apply my-10;
  h3.title-accordion{  
    font-family: 'Gotham Pro Bold';
    cursor: pointer;  
    @apply text-primary text-lg p-4 border-b-2 relative;
    &:before{
      @apply text-3xl;
      content: "›";
      color: $primary;
      position: absolute;
      top: calc(50% - 1rem);
      right: 1rem;     
      transform: rotate(90deg);
    }
    &:hover{
      @apply bg-gray-50;
    }
    &.ui-state-active{
      @apply bg-slate-100;
      &:before{
        transform: rotate(270deg);
      }
    }
  }
  .content-accordion{
    @apply p-4;
    h2, h3, h4{
      @apply my-4;
    }
    p{
      @apply mb-4;
      &:empty{
        @apply hidden;
      }
      a{
        &:hover{

        }
      }
    }
    ul, ol{
      li{

      }
    }
  }
}


dialog::backdrop {
  background: rgba(0,0,0,.8);
}

#dialogo {
  @apply rounded-lg overflow-hidden p-0;
  h3{
    font-family: 'Gotham Pro Bold';
    @apply bg-primary text-white text-center p-4 text-xl;
  }
  .box{
    @apply p-4 text-center;
    h4{
      font-family: 'Gotham Pro Bold';
      @apply text-primary text-2xl font-semibold 
    }
    p{
      @apply mb-3 text-sm leading-tight;
    }
    a{
      @apply flex justify-center items-center gap-2 bg-green-500 text-center text-white font-semibold rounded-full p-2 px-6 mx-auto;
      img, svg{
        @apply h-6 w-auto;
        filter: invert(100%) sepia(72%) saturate(2%) hue-rotate(32deg) brightness(108%) contrast(101%);   
      }
      &:hover{
        @apply bg-green-900;
      }
    }
  }
  button#cerrar {
    @apply table w-full bg-gray-600 text-white text-center py-2;
    &:hover{
      opacity: 0.5;
    }
  }
}


.slider-services{
  .slick-track
  {
      display: flex !important;
  }

  .slick-slide
  {
      height: inherit !important;
  }
  .card{
    a{
      @apply h-full;
    }
  }
}

nav.menu-mobile{
  @apply absolute shadow-lg;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  ul{   
    @apply bg-white px-4 p-2;
    list-style: none; 
    li{
      @apply my-2;
      a{
        display: block;
      }
    }
  }
}

ul.list-servicio{
  @apply grid grid-cols-1 md:grid-cols-3 gap-4;
  li{
    @apply flex-1 flex justify-start items-center gap-2 py-4 px-1;
    border-bottom: 1px solid $yellow;    
    .ico{
      border: 1px solid $secondary;
      border-radius: 50%;
      @apply p-1 aspect-square w-9 place-content-center;
      &:not(:empty){
        @apply grid;
      }
      &:empty{
        @apply hidden;
      }
      svg{
        @apply w-3 h-auto;
        path{
          fill: $secondary;
        }
      }
    }
    p{

    }
  }
}

.gallery-slider{
  @apply mx-4 overflow-hidden rounded-md md:mx-0;
  max-width: calc(100vw - 2rem);
}

.bg{
  &-dark{
    @apply bg-gray-50;
  }
}

section.hero-simple{
  position: relative;
  background: rgba($primary, 25%);
  .container{
    position: relative;
    z-index: 10;
  }
  .bg{
    position: absolute;
    inset: 0;
    z-index: 0;      
    &:before{
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(#FFF, .9);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1);
    }
  }
}


section.contact-form{
  form{
    p{
      @apply mb-4;
    }
    input, textarea{
      border: 1px solid $secondary;
      @apply mt-2 p-2 rounded-md w-full;
    }
    textarea{
      @apply h-40 resize-none;
    }
    input.wpcf7-submit{
      @apply bg-primary text-white cursor-pointer hover:bg-secondary;
    }
  }
}

.video-frame{
  @apply py-6;
  iframe{
    @apply aspect-video h-auto w-full rounded-md
  }
  &:empty{
    display: none;
  }
}

.gallery-small{
  position: relative;
  display: block;
  width: inherit;
  .slick-list{
    overflow: hidden !important;
  }
  .item{
    width: inherit;
    height: auto;
    max-width: inherit;
    img{
      width: inherit;
      max-width: inherit;
      height: auto;
      @apply rounded-md;
    }
  }
  ul.slick-dots{
    margin: .5rem 0 0 0;
  }
}

footer{
  border-top: 4px solid $yellow;
}

.shadow-yellow{
  position: relative;
  img{
    position: relative;
    z-index: 1;
  }
  // &:before{
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 8px;
  //   left: 8px;
  //   background: $yellow;
  //   z-index: 0;
  //   @apply rounded-lg;
  // }
}

footer{
  @apply bg-primary text-white;
  .footer-bottom{
    @apply text-white;
    p, a{
      @apply text-white;
    }
  }
}


.custom-arrows{
  @apply flex justify-center place-items-center gap-4 mt-4;
  .arrow{
    @apply h-6 w-6 cursor-pointer;    
    &:hover{
      @apply opacity-50;
    }
  }
  .arrow-prev{
    width: 24px;
    height: 24px;    
    &:hover{
      @apply opacity-60 cursor-pointer;
    }
  }  
  .arrow-next{
    
  }
  .slider-dots{
    ul.slick-dots{
      @apply m-0 p-0;
      li{
        @apply cursor-pointer;
        &:hover{
          @apply opacity-60;
        }
        &:only-child{
          display: none;
        }
      }
    }
  }
}

.intro-section{
  iframe{
    width: 100%;
    max-height: 400px;
  }  
}


header.stickied{
  button{
    p{
      @apply text-base;
    }
  }
  img.logo{
    @apply max-h-8 md:max-h-16;
  }
}



ul.list-features{
  li{
    @apply flex-1 flex justify-start items-center gap-2 py-2 px-1;
    border-bottom: 1px solid $yellow;    
    .ico{
      border: 1px solid $secondary;
      border-radius: 50%;
      @apply p-1 aspect-square w-9 place-content-center;
      &:not(:empty){
        @apply grid;
      }
      &:empty{
        @apply hidden;
      }
      svg{
        @apply w-3 h-auto;
        path{
          fill: $secondary;
        }
      }
    }
    p{

    }
  }
}

ul#menu-menu-principal{
  li.menu-item-has-children{
    >a{
      @apply flex justify-start items-center gap-1;
      &:after{
        content: "▾";
        @apply text-sm ;
      }
    }
  }
}


a.card-service{
  @apply flex flex-col p-0 justify-start items-center hover:bg-slate-200 transition-all shadow-xl text-center;
  // h2{
  //   @apply bg-primary text-white p-1 block w-full text-lg font-bold;
  // }
  // p{
  //   @apply py-4 px-2 text-base leading-5;
  // }  
  h2{
    @apply py-4 px-2 text-base leading-5 font-bold;
  }
}

.slider-services{  
  .card{    
    &:nth-child(1){     
      background-color: rgba($secondary, 5%);
    }
    &:nth-child(2){
      background-color: rgba($secondary, 10%);

    }    
    &:nth-child(3){
      background-color: rgba($secondary, 15%);
    }
    &:nth-child(4){
      background-color: rgba($secondary, 20%);
    }
    &:nth-child(5){
      background-color: rgba($secondary, 25%);
    }
    &:nth-child(6){
      background-color: rgba($secondary, 30%);
    }
    &:nth-child(7){
      background-color: rgba($secondary, 35%);
    }
  }
}

.intro-section{
  p{
    max-width: 90ch;
    margin: 0 auto 1rem;
    text-wrap: balance;
  }
}

.header-bar{
  @apply p-4 gap-4 flex-wrap flex-col md:flex-row;
  p{
    @apply text-sm md:text-base;
    color: #FFF !important;
    text-align: center;
    a{
      @apply underline;
      &:hover{
        @apply no-underline;
      }
    }
  }
}

.hero-home{
  p{
    margin: 0 0 1rem 0;
  }
}